.title{
    text-align: center;
}
.container{
    height: 820px;
    margin-top: 36px;
    padding: 12px 0;
    display: flex;
    width: 100%;
    flex-basis: auto;
    flex-wrap: wrap;
    border-style: double;
    border: darkred;

}


