.title{
    text-align: center;
    flex-direction: column;
    flex-grow: 2;
}
.containerTitle{
    display: inline-flex;
    width: 100%;
    flex-basis: auto;


}
.containerTitle-item{
    flex: 1;
    display: flex;
}
.empty{
    display: flex;
}
.legend{
    flex-grow: 1;
    justify-content: center;
    margin-bottom: auto;
}
img.resize{
    width: auto;
    height: 50%;
}