.title{
text-align: center;
}
.container{
    margin-top: 36px;
    padding: 12px 0;
    display: flex;
   width: 100%;
    flex-basis: auto;
    flex-wrap: wrap;
    border-color: darkred;

}
.container-item{
    padding: 0 16px;
    flex: 1;

    display: flex;
}
.left{
    display: flex;
    flex-direction: column;


}
.map{
    display: none ;
}
.center{
    padding: 0 16px;
    flex: 1;
    display: flex;
    flex-direction: column;

}
.right{
    padding: 0 16px;
    flex: 1;

    display: flex;
    flex-direction: column;
}


